:root{
    --nav-dark:#142f438e;
    --nav-light:#efefefb2;
}

@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');

/* START NAVBAR  */
#change{
   background-color:var(--nav-dark);
}

.light #change{
    background-color:var(--nav-light);
}

.navbar-brand span{
    font-family: 'Oooh Baby', cursive;
}

.navbar{
    transition: all 0.7s;
}

.smalls.navbar{
    padding: 0;
}

#brand-img{
    width: 70px;
    border-radius: 50%;
    transition: all 0.5s;
}

#brand-img:hover{
    border-radius: 5px;
}

.nav-link{
    font-size: 20px;
}

#nav .nav-link:hover{
    color:#71DFE7 !important;
}
/* END NAVBAR */

/* START HOME BANNER */
.banners{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.banners .banner-svgs{
    width: 300px;
    position: absolute;
    top:30%;
    left: 20px;
}

.boxs .p-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profiles{
    width: 300px;
    height: 300px;
    object-fit: cover;
    transition: all 0.5s;
}

.profiles:hover{
    width: 400px;
    height: 400px;
    border-radius: 5px !important;
}


@media (max-width:600px) {
    .profiles{
        width: 150px;
        height: 150px;
        object-fit: cover;
        transition: all 0.5s;
    }
    
    .profiles:hover{
        width: 200px;
        height: 200px;
        border-radius: 5px !important;
    }

    .profiletexts{
        font-size: 30px;
    }
}

.profiletexts{
    animation: profiletextani 0.8s linear forwards;
}

@keyframes profiletextani {
    from{
        filter: blur(20px);
        transform: translate(-50px , 50px);
    }
    to{
        filter:blur(0px);
        transform: translate(0px , 0px);
    }
}
/* END HOME BANNER */

/* Start About  */
#about .mx-auto{
    position: relative;
}

#about .about-svgs{
    width: 200px;
    position: absolute;
    top:100px;
    right:-200px;
}

#aboutme{
    border-radius: 5px;
    padding:30px;
    padding-bottom: 0px;
}
.imgs{
    width: 430px;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.darks.carousel-indicators [data-bs-target]{
    background-color: #142f438e;
}
 
#about p.display-6{
    font-size: calc(1rem + 1.5vw);
    font-weight: 200;
    line-height: 1;
}
/* End About */

/* Start Portfolio Section */
#portfolio{
    position: relative;
}

#portfolio .portfolio-svgs{
    width: 190px;
    position: absolute;
    bottom:100px;
    left:-10px;
}

.skills{
    width: 220px;
    height: 230px;
    outline: 0;
    border: 0;
    transition: all 0.7s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.skills:hover{
    transform: translateY(-20px);
}

@media (max-width:600px) {
    .skills:hover{
        transform: translateY(-5px);
    }
}

.skills:active{
    transform: translateY(10px);
}

.skillscores{
    width: 220px;
    height: 70%;

    position: absolute;
    bottom:0;
    left:0;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateY(200%);

    transition: all 0.7s;
}

.skills:active .skillscores{
    transform: scale(1);
}

.active.skillscores{
    transform: translateY(0%);
}

.skillscores::before{
    content: "";
    width: inherit;
    height: 10px;
    background-color: inherit;

    position: absolute;
    top:-10px;
    left:0;

    animation: skillscoreani 1s ease-in-out infinite;
}

@keyframes skillscoreani {
    0%{
        clip-path: polygon(0% 40%, 13% 32%, 32% 30%, 44% 37%, 58% 43%, 72% 47%, 87% 46%, 100% 38%, 100% 100%, 0% 100%);
      }

      50%{
        clip-path: polygon(0% 40%, 13% 48%, 28% 54%, 44% 54%, 60% 46%, 73% 39%, 88% 36%, 100% 38%, 100% 100%, 0% 100%);
      }

      100%{
        clip-path: polygon(0% 40%, 13% 32%, 32% 30%, 44% 37%, 58% 43%, 72% 47%, 87% 46%, 100% 38%, 100% 100%, 0% 100%);
      }
}

.progress-bar{
    transition: all 0.5s;
}

#portfolio a{
    text-decoration: none;
}

.fa-arrow-up{
    animation: arrowani 0.7s linear infinite alternate;
}

@keyframes arrowani {
    from{
        transform: translateY(10px);
    }
    to{
        transform: translateY(-10px);
    }
}

.skillcards{
    overflow: hidden;
    position: relative;
}

.skillcards img{
    transition: all 0.2s ease-out;
}

.skillcards:hover img{
    transform: scale(1.8);
}

.skillcards .card-btns{
    width: 478px;
    height: 330px;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0);

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-out;
}

.skillcards:hover .card-btns{
    transform: scale(1);
}

.card-btns.bg-dark{
    background-color: #142f438e !important;
}

.card-btns.bg-light{
    background-color: #efefef9f !important;
}

/* End Portfolio Section */

/* Start Contact Section */
#contact .mx-auto{
    position: relative;
}

.contact-1svgs{
    width: 200px;
    position: absolute;
    top:-20px;
    left:-80px;
}

.contact-2svgs{
    width: 350px;
    position: absolute;
    top:65px;
    right:-250px;
}

#contact a{
    text-decoration: none;
}

#contact a:hover{
    background-color: #6c757d;
    color:#fff;
    padding: 5px;
    border-radius: 10px;
}

.display-6.fblinks{
    font-size: calc(1rem + 1.5vw);
    font-weight: 200;
    line-height: 1;
}
/* End Contact Section */